.notifications {
    position: fixed;
    top: 20px;
    right: 20px;
    color: white;
    /*animation: fadein 0.5s, fadeout 0.5s 2.5s;*/
}

.notification {
    background-color: rgb(50, 50, 50);
    margin: 10px;
    padding: 16px 6px;
    width: 288px;
    border-radius: 4px;
}

.notHeader {
    display: flex;
    flex-direction: row-reverse;
}